__pycache__/
*.py[cod]
.nfs*
build/
dist/
*.egg-info/
site/
.ipynb_checkpoints/

.vscode/
wandb/

log/
notebook/
output/
cache/
weights/

/data/*
!/data/mvtec_ad/.gitkeep

transfer-anomaly-detection

explore_transform.ipynb
fe_de.ipynb
test.py
